body{
    background-image: linear-gradient(to bottom right, rgb(247, 181, 96), rgb(246, 255, 113));
    width: 300px;
    height: 499px;
    font-size:x-large;
    color:white;
    display: flex;
    margin-left: 78px;
    margin-top: 68px;
    font-weight: bolder;
}
img{
    margin-right: 35px;
}