@media screen and (max-width:380px){
    
    body{
        background-image: linear-gradient(to bottom right, rgb(245, 153, 33), rgb(245, 177, 30));
        width: 300px;
        height: 630px;
        font-size: 18px;
        color:white;
        display: flex;
        margin-left: 10px;
        margin-top: 8px;
        font-weight: bolder;
        text-align: center;
    }

    img{
        margin-right: 65px;
        width: 147px;
        margin-left: 72px;
        margin-top: -16px;
    }
    text{
        text-align: center;
        font-weight: lighter;
    }
    h1{
        text-align: center;
    }

    input{
        align-items: center;
        width: 205px;
        border-radius: 67px;
        height: 57px;
        background-color: white;
        font-size: 24px;
        font-weight: bold;
    }
    p2{
        font-size: 90px;
        margin: 0px;
    }
    p1{
        font-size: 20px;
    }
}